assignment_1/code/reporting/knn_n_and_k_token_based_results_09_02_2024.txt
assignment_1/code/reporting/knn_training_result.csv
assignment_1/code/classification_s4765079.zip
*/.venv
*/.vscode
*/__pycache__
assignment_2/.vscode/settings.json
